<!DOCTYPE log4j:configuration 
	PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" 
	"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
	
<!-- namespace 선언: http://jakarta.apache.org/log4j/ -> log4j -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"> 

	<!-- Appenders: 어디에 로그를 저장할 것인가 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c.%M() - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers: level로 출력을 할지 말지 조정함 -->
	<logger name="com.mycompany.webapp">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<!-- 
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
 	-->
	<!-- Root Logger: 위를 작성하지 않았을 때, 기본적으로 출력하는 level -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
